include LICENSE
include README.md
include requirements.txt
include src/*.png

recursive-include cn2an *

recursive-exclude * *.pyc
recursive-exclude * .DS_Store
recursive-exclude * __pycache__
recursive-exclude * .pytest_cache